@import 'tailwindcss';
@import '@nuxt/ui';

@import './base.css';

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at 5% 10%, #fff7fb 0%, #fdf7ff 30%, #f6f7ff 100%);
  user-select: none;
}

.dark body {
  background: radial-gradient(circle at 5% 10%, #22253a 0%, #1d2033 35%, #141625 100%);
}

#app {
  width: 100vw;
  height: 100vh;
}
